    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>À propos de notre mariage</h2>

                <p> Nous avons souhaité nous marié dans le village ou nous habitons ensemble depuis 4ans Le Rayol-Canadel sur la corniche des Maures, au bord de la Méditerannée.</p>
                <p>C'est dans cette écrin que nous vous invitons à partager avec nous le scellement de notre alliance le </p>
                <p>01 Juin 2024</p>
                <img id="lavandes" src="img/lav.png" alt="lavande">

            </div>
        </div>
    </section>