    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>À propos de notre mariage</h2>

                <p>C’est au Rayol-Canadel, village dans lequel nous partageons notre vie depuis six ans, que nous avons décidé de sceller notre union et de nous dire « oui! »</p>
                <p>C’est dans cet écrin de verdure situé au cœur du massif des maures et bordé par la Méditerranée, que nous vous invitons à partager ce moment à nos côtés,</p>
                <p id="date">Le 1er juin 2024.</p>
                <img id="lavandes" src="img/lav.png" alt="lavande">

            </div>
        </div>
    </section>