    <!-- About Section -->
    <section id="ceremonie" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Notre mariage</h2>
                <p>Eius commodi molestiae voluptas aut nihil hic. Cumque unde voluptatibus mollitia qui quis culpa atque sed. Est quia ullam sed cumque. Reiciendis libero deserunt modi. Odit pariatur ut accusamus aut laborum nisi similique. Sed expedita est ex ut laborum velit velit illo.</p>
            </div>
        </div>
    </section>