    <!-- About Section -->
    <section id="ceremonie" class="container content-section text-center">
        <div class="row">
                <h2>Programme et Cérémonies</h2>
                <!-- <p> Nous avons choisi d'organiser cette journée selon le programme suivant: </p>
                <ul>
                    <li>12h Cérémonie Civile à la mairie du Rayol Canadel</li>
                    <li>13h Cérémonie religieuse à l'Église … du Rayol</li>
                    <li>14h-16h Vin d'honneur au Pateck du Rayol, en face de l'église et photos de groupe</li>
                    <li>18h30 Repas aux Canetons à Cavalière (Le lavandou)</li>
                    <li>fin au environs de 2h</li>


                </ul> -->
                <ul class="timeline">
                    <li>
                      <div class="timeline-badge"><i class="fa-solid fa-landmark"></i></div>
                      <div class="timeline-panel animated slideInLeft">
                        <img id="crown" src="/img/couronne1.png">
                        <img id="mobile-crown" src="/img/couronne1.png">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">Mairie</h4>
                        </div>
                        <div class="timeline-body">
                          <p>Ut tempore architecto similique deserunt iusto. Consectetur sed aut perferendis non. In iusto sunt maiores. Et unde qui amet deserunt qui omnis eum commodi. Id est officiis sed id. Molestiae voluptates ea laboriosam sed.</p>
                        </div>
                      </div>
                    </li>
                    <li class="timeline-inverted">
                      <div class="timeline-badge"><i class="fa-solid fa-church"></i></i></div>
                      <div class="timeline-panel animated slideInRight">
                        <img id="crown" src="/img/couronne3.png">
                        <img id="mobile-crown" src="/img/couronne4.png">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">Église</h4>
                        </div>
                        <div class="timeline-body">
                          <p>Ut tempore architecto similique deserunt iusto. Consectetur sed aut perferendis non. In iusto sunt maiores. Et unde qui amet deserunt qui omnis eum commodi. Id est officiis sed id. Molestiae voluptates ea laboriosam sed.</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="timeline-badge"><i class="fa-solid fa-wine-glass"></i></div>
                      <div class="timeline-panel">
                        <img id="crown" src="/img/couronne4.png">
                        <img id="mobile-crown" src="/img/couronne1.png">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">Vin d'honneur</h4>
                        </div>
                        <div class="timeline-body">
                          <p>Ut tempore architecto similique deserunt iusto. Consectetur sed aut perferendis non. In iusto sunt maiores. Et unde qui amet deserunt qui omnis eum commodi. Id est officiis sed id. Molestiae voluptates ea laboriosam sed.</p>
                      </div>
                      </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge"><i class="fa-solid fa-utensils"></i></div>
                        <div class="timeline-panel">
                          <img id="crown" src="/img/couronne2.png">
                          <img id="mobile-crown" src="/img/couronne4.png">
                          <div class="timeline-heading">
                            <h4 class="timeline-title">Restaurant</h4>
                          </div>
                          <div class="timeline-body">
                            <p>Ut tempore architecto similique deserunt iusto. Consectetur sed aut perferendis non. In iusto sunt maiores. Et unde qui amet deserunt qui omnis eum commodi. Id est officiis sed id. Molestiae voluptates ea laboriosam sed.</p>
                          </div>
                        </div>
                      </li>
                    <li class="timeline">
                      <div class="timeline-badge"><i class="fa-solid fa-hourglass-end"></i></div>
                      <div class="timeline-panel">
                        <img id="crown" src="/img/couronne5.png">
                        <img id="mobile-crown" src="/img/couronne1.png">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">Fin de soirée</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Ut tempore architecto similique deserunt iusto. Consectetur sed aut perferendis non. In iusto sunt maiores. Et unde qui amet deserunt qui omnis eum commodi. Id est officiis sed id. Molestiae voluptates ea laboriosam sed.</p>
                        </div>
                      </div>
                    </li>
                </ul>
        </div>
    </section>