    <!-- About Section -->
    <section id="ceremonie" class="container content-section text-center">
        <div class="row">
                <h2>Programme</h2>
                <ul class="timeline">
                    <li>
                      <div class="timeline-badge"><i class="fa-solid fa-landmark"></i></div>
                      <i class="angle fa-solid fa-angle-right"></i>
                      <i class="angle-portable fa-solid fa-angle-left"></i>
                      <div class="timeline-panel animated slideInLeft">
                        <img id="crown" src="img/couronne1.png">
                        <img id="mobile-crown" src="img/couronne1.png">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">Mairie</h4>
                        </div>
                        <div class="timeline-hour">
                            12h00
                        </div>
                        <div class="timeline-body">
                          <p>
                            Place Giudicelli - RD 559 &nbsp;
                            83820 Rayol-Canadel sur Mer</p>
                        </div>
                      </div>
                    </li>
                    <li class="timeline-inverted">
                      <div class="timeline-badge"><i class="fa-solid fa-church"></i></div>
                      <i class="angle-inverted fa-solid fa-angle-left"></i>
                      <div class="timeline-panel animated slideInRight">
                        <img id="crown" src="img/couronne3.png">
                        <img id="mobile-crown" src="img/couronne4.png">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">Église</h4>
                        </div>
                        <div class="timeline-hour">
                          13h00
                      </div>
                        <div class="timeline-body">
                          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Place de l'Église &nbsp;&nbsp;&nbsp;&nbsp; 83820 Le Rayol-Canadel-sur-Mer</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="timeline-badge"><i class="fa-solid fa-wine-glass"></i></div>
                      <i class="angle fa-solid fa-angle-right"></i>
                      <i class="angle-portable fa-solid fa-angle-left"></i>
                      <div class="timeline-panel">
                        <img id="crown" src="img/couronne4.png">
                        <img id="mobile-crown" src="img/couronne1.png">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">Vin d'honneur</h4>
                        </div>
                        <div class="timeline-hour">
                          14h00
                        </div>
                        <div class="timeline-body">
                          <p>Place du Pateck 83820 Le Rayol-Canadel-sur-Mer</p>
                      </div>
                      </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge"><i class="fa-solid fa-utensils"></i></div>
                        <i class="angle-inverted fa-solid fa-angle-left"></i>
                        <div class="timeline-panel">
                          <img id="crown" src="img/couronne2.png">
                          <img id="mobile-crown" src="img/couronne4.png">
                          <div class="timeline-heading">
                            <h4 class="timeline-title">Restaurant</h4>
                          </div>
                          <div class="timeline-hour">
                            18h00
                          </div>
                          <div class="timeline-body">
                            <p>Plage Les Canetons &nbsp; 356 Avenue du Cap Nègre 83980 Cavalière, Le Lavandou</p>
                          </div>
                        </div>
                      </li>
                    <li class="timeline">
                      <div class="timeline-badge"><i class="fa-solid fa-hourglass-end"></i></div>
                      <i class="angle fa-solid fa-angle-right"></i>
                      <i class="angle-portable fa-solid fa-angle-left"></i>
                      <div class="timeline-panel">
                        <img id="crown" src="img/couronne5.png">
                        <img id="mobile-crown" src="img/couronne1.png">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">Brunch partagé</h4>
                        </div>
                        <div class="timeline-hour">
                          Dimanche 11h00
                        </div>
                        <div class="timeline-body">
                            <p>Salle des fêtes de la Mairie, &nbsp; en dessous de la Mairie, à côté des pompiers.</p>
                        </div>
                      </div>
                    </li>
                </ul>
        </div>
    </section>