    <!-- About Section -->
    <section id="transport" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Pour venir :</h2>
                <ul>
                    <li>En voiture: La RD559 traverse le village, 1h depuis Toulon, 1 h 30 depuis Nice </li>
                    <li>En train: Gare TGV à Toulon, puis 1h30 de bus. Plusieurs arrêts sont efféctué sur le village par la ligne 878 voir les horaires sur <a href="https://storage.googleapis.com/is-wp-22-prod/uploads-prod/2023/10/ZOU83_Ligne878_ex-7801_SAINT_TROPEZ_LE_LAVANDOU_TOULON_-du-30-Octobre_2023_au_30_Avril_2024.pdf">zou</a>  </li>
                    <li>A vélo: La parcours cyclale du littoral (Véloroute 65) traverse le village de part en part, la mairie et le lieux de reception sont directement accesible, pour l'Église une bonne montée et un petit passage sur la D559 est à prévoir <a href="https://brouter.de/brouter-web/#map=15/43.1514/6.4579/cyclosm,route-quality&lonlats=6.467149,43.160554;6.473046,43.155601;6.474848,43.158397;6.475863,43.160382;6.480798,43.160027;6.478202,43.157798;6.424851,43.151439&profile=trekking-steep">parcours</a> </li>
                </ul>
            </div>
        </div>
    </section>