    <!-- About Section -->
    <section id="transport" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Pour venir</h2>
                <ul>
                    <li>En voiture: La RD559 traverse le village. 1h depuis Toulon, 1 h 30 depuis Nice.</li>
                    <li>En train: Gare TGV à Toulon, puis 1h30 de bus via la ligne 878. Voir les horaires sur <a href="https://storage.googleapis.com/is-wp-22-prod/uploads-prod/2023/10/ZOU83_Ligne878_ex-7801_SAINT_TROPEZ_LE_LAVANDOU_TOULON_-du-30-Octobre_2023_au_30_Avril_2024.pdf">zou</a>.</li>
                    <li>À vélo: La parcours cyclale du littoral (Véloroute 65) traverse le village de part en part. Voir<a href="https://brouter.de/brouter-web/#map=17/43.15114/6.42592/cyclosm,route-quality&lonlats=6.467149,43.160554;6.473046,43.155601;6.474848,43.158397;6.475863,43.160382;6.480798,43.160027;6.478202,43.157798;6.429534,43.151939&profile=trekking-steep">parcours</a>.</li>
                </ul>
                <h2>Pour se garer</h2>
                <ul>
                    <li>À la Mairie, la salle des mariage se situe le long de la RD559, mais très peu de places sont disponibles. Il est donc prié de se garer sur le grand parking en dessous, au niveau des jardins (à côté des pompiers).</li>
                    <li>Pour la cérémonie religieuse, vous pourrez vous garer sur la place du Pateck, en contrebas de l'église.</li>
                    <li>Quant au restaurant vous pourrez vous garer au Parking de Cavalière (env 100m).</li>
                </ul>
            </div>
        </div>
    </section>