<!-- About Section -->
<section id="hebergement" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Hébergement</h2>
            <p>Différents hôtels et camping sont disponibles alentour :</p>
            <p>camping de Pramousquier</p>
            <p>Camping de Cavalière (Cavalière)</p>
            <p>Cap Nègre Hôtel (Cavalière)</p>
            <p>L’Hôtel de la plage (Rayol-Canadel)</p>          
        </div>
    </div>
    <img id="lavandes" src="img/bouquet_lav.png" alt="lavandes">
</section>