<!-- About Section -->
<section id="hebergement" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Hebergements</h2>
            <p>La Villa Mauresque où se passera la soiréee, propose différentes chambres dans leur gîte. </p>
            <p>Nous contacter pour reserver si vous êtes intéresser pour reserver une chambre/suite</p>
            <p>Sinon bien d'autres solution sont possible pour herbergé aux alentours (AirBnBs, Hôtels, Campings). </p>
        </div>
    </div>
</section>