<!-- About Section -->
<section id="hebergement" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Hébergement</h2>
            <p>De nombreux hôtels et campings sont disponibles aux alentours, à proximité immédiate du restaurant vous trouverez :</p>
            <ul>
                <li><a href="https://www.grandhotelmoriaz.com">Hôtel grand Moriaz ★★★</a></li>
                <li><a href="https://surplagehotel-cavaliere.com">Surplage Hôtel ★★★★</a></li>
                <li><a href="https://www.hotel-le-cap-negre.fr">Cap Nègre Hôtel ★★★</a></li>
                <li><a href="https://www.azur-hotel.org">Hôtel Azur ★★★</a></li>
                <li><a href="https://vacances-andretrigano.com/camping/var/les-mimosas-le-lavandou">Camping de Cavalière ★★★</a></li>
                <li><a href="https://www.campingpramousquier.com">Camping de Pramousquier (2 km) ★★</a></li>
                <li><a href="https://hotelbeausite.fr">Hôtel Beau Site (2 km) ★★★</a></li>
            </ul>
            <p>D'autres hôtels et bnb son présent dans les environs</p>
        </div>
    </div>
    <img id="lavandes" src="img/bouquet_lav.png" alt="lavandes">
</section>about:blank#blocked