    <!-- About Section -->
    <section id="confirmation" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Notre mariage</h2>
                <p>Nous remercions de confirmer votre venues pour le 1er Juin prochain, vous pour vez nous faire la confirmation via mail ou par courrier</p>
                <p>Merci de nous signaler si vous prener une chambre à la Villa Mauresque ou si vous avez par exemple un régime particulier ( Un menu sans gluten est déjà prévu )</p>
            </div>
        </div>
    </section>