<!-- About Section -->
<section id="gifts" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Cagnotte de mariage</h2>
            <p>Une boite à dons pour chèques et espéces sera disponible lors du vin d'honneur et au restaurant(solution préférée).</p>
            <p>Néanmoins si vous le désirez une <a href="https://www.leetchi.com/fr/c/mariage-camille-et-maxime-5308918?utm_source=copylink&utm_medium=social_sharing">cagnotte en ligne (leetchi) est disponible ici</a>.</p>
        </div>
    </div>
</section>