<!-- About Section -->
<section id="faq" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>F.A.Q</h2>
            <h4>Quels vêtement prévoir ?</h4>
            <p>Début juin, nous pouvons nous attendre à des températures relativement chaudes durant la journée. Cependant n'oubliez pas que nous passerons la soirée sur une plage, il est donc conseillé de prendre une pull, et des chaussures de rechange pour se protéger du sable.</p>
            <h4>Y a t-il un thème ?</h4>
            <p>Nous avons décidé de partire sur un thème Pastel pour l'ambiance du mariage. Libre à vous de nous accompagner sur celui-ci.</p>
            <h4>Je veux faire un discours ou une surprise !</h4>
            <p>Si vous voulez intervenir, contactez nous! On vous mettra en relation avec nos témoins qui s'occuperons d'organiser cela.</p>
        </div>
    </div>
</section>