.timeline {
    list-style: none;
    padding: 1rem 0 1rem;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 0.5rem;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 1rem;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            position: relative;
            float: left;
            width: 50rem;
            height: 50rem;
        }
        .angle{
            position: absolute;
            visibility: visible;
            top: 11rem;
            right: calc(50% + 5rem);
            font-size: 3rem;
            color: {{ site.color.secondary}};
        }

        .angle-inverted {
            position: absolute;
            top: 11rem;
            left: calc(50% + 5rem);
            font-size: 3rem;
            color: {{ site.color.secondary}};
        }

        .angle-portable {
            position: absolute;
            visibility: hidden;
            font-size: 3rem;
            color: {{ site.color.secondary}};
        }

        .timeline > li > .timeline-badge {
            
            width: 5rem;
            height: 5rem;
            line-height: 5rem;
            font-size: 1.5em;
            text-align: center;
            position: absolute;
            top: 10rem;
            left: 50%;
            margin-left: -25px;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
            background-color: {{ site.color.secondary-container}};
            color: {{ site.color.secondary}};
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

.timeline-title {
    margin: 0;
    position: absolute;
    top: 10rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    color: {{ site.color.tertiary }};
}

.timeline-body > p,
.timeline-body > ul {
    position: absolute;
    top: 27rem;
    margin-left: auto;
    margin-right: auto;
    left: 10rem;
    right: 10rem;
    text-align: center;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

.timeline-hour{
    position: absolute;
    top: 20rem;
    font-size: 3rem;
    margin-left: auto;
    margin-right: auto;
    left: 10rem;
    right: 10rem;
    text-align: center;
}

#crown{
    width: 50rem;
    height: 50rem;
    position: relative;
    visibility: visible;
}
#mobile-crown{
    visibility: hidden;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: 90%;
    }

    ul.timeline > li > .timeline-badge {
        left: 1rem;
        margin-left: 0;
        top: 1rem;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    .angle{
        visibility: hidden;
    }

    .angle-inverted {
        top: 2rem;
        left: 8rem;
    }

    .angle-portable {
        visibility: visible;
        top: 2rem;
        left: 8rem;
    }

        .timeline-title {
            top: 0;
        }
        .timeline-body > p,
        .timeline-body > ul {
            top: 8rem;
            left: 5rem;
            right: 5rem;
        }
        #crown{
            visibility: hidden;
            width: 0rem;
            height: 0rem;
        }
        #mobile-crown{
            visibility: visible;
            top: 5rem;
            width: 30rem;
            height: 30rem;
            position: absolute;
            left: 3rem;
            /* right: 20rem; */
        }
        .timeline-hour{
            top: 8rem;
        }
        .timeline-body > p {
            top: 15rem;
            width: 20rem;
        }
    }
