<!DOCTYPE html>
<html>
    {% include 01_head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include 02_nav.html %}
    {% include 03_header.html %}
    {% include 04_about.html %}
    {% include 05_ceremonie.html %}
    {% include 06_map.html %}
    {% include 07_transport.html %}
    {% include 08_hebergement.html %}
    {% include 09_confirmation.html %}
    {% include 10_gifts.html %}
    {% include 11_faq.html %}
    {% include 12_contact.html %}
    {% include 13_footer.html %}
    {% include 14_js.html %}
    </body>
</html>